html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* -----------------------BODY ------------------------------- */
header, nav, main, footer {
  max-width: 75rem;
  font-family: "lato"; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* ------------------------HEADER----------------------------- */
/* ------------------------END HEADER----------------------------- */
/* ------------------------ENDTOPNAV----------------------------- */
/* ------------------------MAIN----------------------------- */
main {
  /* ------------------------TOPNAV----------------------------- */ }
  main .quizBreadcrumbs {
    text-decoration: none;
    float: left;
    padding: 20px;
    margin: 15px 30px 50px 30px;
    font-size: 28px;
    font-weight: 800; }
    main .quizBreadcrumbs li {
      list-style-type: none;
      float: left;
      padding: 0px 5px; }
      main .quizBreadcrumbs li a:link, main .quizBreadcrumbs li a:visited {
        color: #1B75BC; }
  main nav {
    display: block;
    height: 100%;
    width: 100px;
    background-color: white;
    box-shadow: 2px 2px 8px #8c8c8c; }
    main nav li {
      list-style-type: none;
      padding: 25px 0px;
      text-align: center; }
    main nav a {
      font-size: 12px;
      list-style-type: none;
      color: #1B75BC;
      text-decoration: none;
      text-align: center; }
    main nav a:hover {
      text-decoration: none; }
    main nav .flcincicon {
      margin: 0 auto; }
      main nav .flcincicon .flcincicon img {
        width: 100%; }
  main .questionInfo {
    clear: both;
    margin-left: 50px;
    margin-bottom: 40px;
    width: 100%;
    border: 1px solid #1B75BC;
    font-size: 24px;
    border-radius: 2px;
    height: 350px;
    z-index: -1; }
    main .questionInfo .questionNumber {
      background-color: #1B75BC;
      color: white;
      font-size: 24px;
      z-index: 999; }
    main .questionInfo h1 {
      text-align: left;
      padding: 20px 20px;
      font-size: 20px;
      color: white;
      background-color: #1B75BC;
      color: white; }
    main .questionInfo h2 {
      text-align: left;
      padding: 20px 20px;
      font-size: 18px; }
    main .questionInfo p {
      font-size: 24px;
      text-align: center;
      padding: 20px 20px; }
    main .questionInfo .allButtons {
      margin: 20px 5%; }
      main .questionInfo .allButtons div {
        width: 25%;
        margin: 10px 20px;
        float: left;
        padding: 10px 10px;
        background-color: #1B75BC;
        border: none;
        color: white;
        text-align: center; }
  main .questionNavigation {
    border: 1px solid #1B75BC;
    border-radius: 2px;
    margin-left: 75px;
    margin-top: 137px;
    width: 75%;
    height: 400px; }
    main .questionNavigation li {
      list-style-type: none;
      padding: 20px 0px;
      text-align: center; }
      main .questionNavigation li a {
        background-color: white;
        color: #1B75BC; }
    main .questionNavigation a:hover {
      background-color: #1B75BC;
      color: white; }
    main .questionNavigation .submitButton {
      width: 75%;
      border-top: 1px solid #1B75BC;
      color: #1B75BC;
      height: 35px;
      background-color: white;
      text-align: center; }
      main .questionNavigation .submitButton a {
        text-align: center; }
      main .questionNavigation .submitButton a:hover {
        background-color: #1B75BC;
        color: white; }

/* ------------------------FOOTER----------------------------- */
div#wrapperFooter {
  background-color: white;
  z-index: 999;
  box-shadow: 2px 2px 10px 0px #666666;
  height: 75px;
  margin-top: 100px; }

footer {
  background-color: white;
  height: 75px;
  margin-top: 100px;
  /*    
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 2; grid-column: 1; }     
  div.banana { grid-row: 3; grid-column: 1; }  
  div.plum { grid-row: 4; grid-column: 1; }        
      
   */ }
  footer p {
    color: #000000;
    padding: 2rem 0;
    font-size: .9rem;
    text-align: center; }
    footer p p a {
      color: #000000; }

/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
.clearfix:after {
  content: "";
  display: table; }

@media only screen and (min-width: 560px) {
  /* ------------------------HEADER----------------------------- */
  /*-------------------- MAIN ------------------------------ */
  main {
    /*----------------Column Layout -------------*/ }
    main .topnav .topnav-center {
      font-size: 28px; }
    main .topnav .topnav-right {
      left: 90%; }
    main .questionInfo h1 {
      text-align: left;
      padding: 20px 20px;
      font-size: 24px; }
    main .questionInfo h2 {
      text-align: left;
      padding: 20px 20px;
      font-size: 24px; }
    main .questionInfo p {
      font-size: 18px;
      text-align: center;
      padding: 20px 20px; }
    main .questionInfo .allButtons {
      margin: 20px 5%; }
      main .questionInfo .allButtons .theChoices {
        width: 20%;
        margin: 10px 20px;
        float: left;
        padding: 10px 10px;
        background-color: #1B75BC;
        border: none;
        color: white; }

  /*----------------FOOTER--------------------
  
  
  footer {
      grid-template-columns: 1fr 1fr;
      
    
      
   p {
       text-align: center;   
       grid-column: 1 / span 2;  
      }
           
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2;}     
  div.banana { grid-row: 2; grid-column: 1; }  
  div.plum { grid-row: 2; grid-column: 2; }        
      
   
      
  }    
  
  
  
  div#wrapperFooter {
      clear: both; 
      background-color: $primaryColor;
  }
  
  
  
  
  
      
  ----------------END FOOTER--------------------*/ }
/* end media query */
@media only screen and (min-width: 1140px) {
  /* -----------------------BODY ------------------------------- */
  /*-------------------- HEADER ------------------------------ */
  /*-------------------- MAIN ------------------------------ */
  main {
    /*  
    grid-template-columns: 1fr 1fr 1fr 1fr; 
        
        
    div.lead { grid-row: 1 / span 2; grid-column: 1 / span 2;} 
    div.secondTop { grid-row: 1; grid-column: 3 / span 2;}      
    div.secondBot { grid-row: 2; grid-column: 3 / span 2;}  
        
          
     */
    /*----------------Column Layout -------------*/ }
    main .topnav-right {
      left: 90%; }

  /*-------------------- FOOTER ------------------------------ */
  /*
  footer { 
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
      
      p {
       text-align: center;   
       grid-column: 2 / span 2;  
      }
       
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2; }     
  div.banana { grid-row: 1; grid-column: 3; }  
  div.plum { grid-row: 1; grid-column: 4; }        
      
      
      
      
      
      
      
      
      
      
      
  }*/
  /*
  
  div#wrapperFooter {
      clear: both; 
      background-color: $thirdColor;
  }
  
  
  */ }
/* end media query */
