

$primaryColor: #1B75BC; 
$secondaryColor: #A60332;
$thirdColor:white; 
$fourthColor: #666666;
$onhoverColor: #08cae8; 
$footerfontColor: #000000; 



$defaultFont: 'Lato', sans-serif; 
$normalWeight: 300;  
$boldWeight: 700; 

$gutter: 1%; 
$gutterdbl: (2 * $gutter); 